<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/styles/start.css" type="text/css" />
    <link rel="stylesheet" href="/styles/header.css" type="text/css" />

    <title>CheapFarm</title>
</head>

<body>
    <div class="preloader">
        <div class="sk-circle">
            <div class="sk-circle1 sk-child"></div>
            <div class="sk-circle2 sk-child"></div>
            <div class="sk-circle3 sk-child"></div>
            <div class="sk-circle4 sk-child"></div>
            <div class="sk-circle5 sk-child"></div>
            <div class="sk-circle6 sk-child"></div>
            <div class="sk-circle7 sk-child"></div>
            <div class="sk-circle8 sk-child"></div>
            <div class="sk-circle9 sk-child"></div>
            <div class="sk-circle10 sk-child"></div>
            <div class="sk-circle11 sk-child"></div>
            <div class="sk-circle12 sk-child"></div>
        </div>
    </div>
    <div class="header">
        <header>
            <div class="header_section">
                <a href="/">
                    <img src="/images/logo_test2.png">
                </a>
                <div class="header_item"><a href="/about" class="header_item_txt">О проекте</a></div>
                <div class="header_item"><a href="#" class="header_item_txt open-popup">Регион</a></div>
                <% if (isLogged==false) { %>
                    <div class="header_item"><a href="/registration" class="header_item_txt">Регистрация</a></div>
                    <div class="header_item"><a href="/login" class="header_item_txt">Вход</a></div>
                    <%} else { %>
                        <div class="header_item"><a href="/profile" class="header_item_txt">Профиль</a></div>
                        <div class="header_item"><a href="/logout" class="header_item_txt">Выход</a></div>
                        <%} %>

            </div>
        </header>
    </div>
    <div class="search_block">
        <form action="/search" method="GET" class="search_form">
            <p><input type="search" name="nameDrug" placeholder="Введите название" /> </p>
            <p><button type="submit" id="btn"></button></p>
        </form>
    </div>
    <div class="table_div">
        <table>
            <tr>
                <th> <a href="https://аптеканейрон.рф/">
                        <img src="https://xn--80aaobudwcidrr.xn--p1ai/sites/neuron/images/logo.png" width="84px"
                            height="84px"></a></th>
                <th><a href="https://apteka.ru/krasnoyarsk/">
                        <img src="https://gastrarex.ru/assets/images/pharmacies/pharmacy_aptecaru.png" width="84px"
                            height="84px"></a></th>
                <th><a href="https://apteka-ot-sklada.ru/krasnoyarsk">
                        <img src="https://visitnoyabrsk.ru/wp-content/uploads/2020/08/f210d24906f67859a8cd9fadbef1d3a9-e1597054478708.jpeg"
                            width="84px" height="84px"></a></th>
                <th><a href="https://www.eapteka.ru/krasnoyarsk/">
                        <img src="https://telegra.ph/file/32b9185e4d0b5215249b5.jpg" width="84px" height="84px"></a>
                </th>
                <th><a href="https://zdravcity.ru/r_krasnoyarsk/">
                        <img src="https://avatars.mds.yandex.net/i?id=502ba7086efe2ee71fd4a5af7d65f23d-5888920-images-thumbs&n=13"
                            width="84px" height="84px"></a></th>
                <th><a href="https://krasnoyarsk.aptekazhivika.ru">
                        <img src="https://vev.ru/wp-content/uploads/2021/11/EGR8OU9XkAAl5q6.jpg" width="84px"
                            height="84px"></a></th>
            </tr>
        </table>
        <span class="town"><%= city %> </div>
    </div>
    <div class="popup__bg">
        <div class="popup">
            <img src="images/close.svg" alt="X" width="24px" height="24px" class="close-popup">
            <div class="popup_title">Выберите регион</div>
            <div class="popup_cities">
                <a href="/krasnoyarsk">Красноярск</a>
                <a href="/bratsk">Братск</a>
                <a href="/perm">Пермь</a>
                <a href="/kazan">Казань</a>
            </div>
        </div>
    </div>
    <script>
        let popupBg = document.querySelector('.popup__bg');
        let popup = document.querySelector('.popup');
        let openPopupButton = document.querySelector('.open-popup');
        let closePopupButton = document.querySelector('.close-popup');


        openPopupButton.addEventListener('click', (e) => {
            e.preventDefault();
            popupBg.classList.add('active');
            popup.classList.add('active');
        })

        closePopupButton.addEventListener('click', () => {
            popupBg.classList.remove('active');
            popup.classList.remove('active');
        })
    </script>
    <script>
        const preloader = document.querySelector('.preloader')
        document.getElementById('btn').onclick = () => {
            preloader.classList.add('preloader_open')
        }
        preloader.classList.add('preloader_hidden')
    </script>
</body>

</html>